.background {
  background: url("https://www.shutterstock.com/image-vector/learning-online-elearning-video-call-600nw-1704602992.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
