.background {
  background: url("https://img.freepik.com/free-vector/blue-geometric-background_1409-961.jpg?w=2000&t=st=1706056145~exp=1706056745~hmac=a255a4e5acba5c106c862140db895a0c8d786fcae25fc9d45423edfb6e8412d0")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 

* {
  font-family: monospace !important;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Bold for headings */
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; /* Regular weight for readability */
}